<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <div id="chat-list">
         <a th:each="item : ${chatboxList}" th:chatroom-id="${item.get('chatRoomId')}" onclick= "connectChatRoom(this)" class="dropdown-item d-flex align-items-center" href="#">
             <div class="dropdown-list-image mr-3">
                 <img class="rounded-circle" th:src="@{/image/logo/undraw_profile_1.svg}"
                      alt="...">
                 <div class="status-indicator bg-success"></div>
             </div>
             <div class="font-weight-bold">
                 <div class="text-truncate">[[${item.get("latestMessage")}]]</div>
                 <div class="small text-gray-500">[[${item.get("username")}]]</div>
             </div>
         </a>
     </div>
</body>
</html>