<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SB Admin 2 - Dashboard</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/font/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<title>Danh mục Admin</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	<ul th:replace="fragment-admin::sidebar"></ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav th:replace="fragment-admin::topbar"></nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a th:href="@{/freshfood/admin/trang-chu}">Freshfood </a>
							<span><i class="fa fa-angle-right"></i></span>
						</li>
						&nbsp;<li class="active">Danh mục sản phẩm</li>
					</ul><!-- /.breadcrumb -->
				</div>

				<!-- Content Row -->
				<div class="card shadow my-4">
					<div style="margin: 30px 10%; width:fit-content">
						<input style="width: 200px; margin-right:20px; margin-top: 5px; float:left" class="form-control" type = "text" placeholder="Thêm danh mục" />
						<a onclick = "addcate(this)" style="border-radius: 15px" class=" btn btn-success">Thêm danh mục</a>
					</div>
					<form>
						<div class="table-responsive table-cart-content">
							<table id="cate-table" class="table table-striped">
								<thead>
								<tr>
									<td class="text-center"><strong>Id</strong></td>
									<td class="text-center"><strong>Tên danh mục</strong></td>
									<td class="text-center"><strong>Tổng số sản phẩm</strong></td>
									<td class="text-center"><strong>Xóa</strong></td>
								</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</form>
				</div>

				<!-- Content Row -->


			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer th:replace="fragment-admin::footer"></footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<div th:replace="fragment-admin::scroll-top"></div>

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" th:src="@{/js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" th:src="@{/js/chart-area-demo.js}"></script>
<script type="text/javascript" th:src="@{/js/chart-pie-demo.js}"></script>

	<script type = "text/javascript">
	     $(document).ready(function(){
  	        loadcategory();
         });
	     
	     function loadcategory(){
	    	 $.ajax({
	    		 url : '/freshfood/category/getall',
	    		 type : 'get',
	    		 dataType: 'json',
	    		 success: function(json){
	    			 let table = '';
	    			 for(let i = 0;i<json.length; i++){
	    				 var html = '<tr>'+
				           '<td class="text-center">'+
				                '<span>'+json[i]['id']+'</span>'+
				           '</td>'+
				           '<td class="text-left">'+
			                   '<div class="input-group btn-block">'+
			                       '<input class="form-control" type="text" value="'+json[i]['name']+'"/>'+
			                       '<span class="input-group-btn">'+
			                            '<button cate-id="'+json[i]['id']+'" type="button" data-toggle="tooltip" title class="btn btn-primary update-btn" data-original-title="Cập nhật">'+
			                                '<i class="fa fa-arrow-circle-right"></i>'+
			                            '</button>'+
			                       '</span>'+
			                   '</div>'+
			               '</td>'+
								 '<td class="text-center">'+
								      '<span>'+json[i]['totalProducts']+'</span>'+
								 '</td>'+
			               '<td class="text-center">'+
			                   '<button type="button" onclick="deletecate('+json[i]['id']+')" data-toggle="tooltip" title class="btn btn-danger" data-original-title="Xóa">'+
			                       '<i class="fa fa-times-circle"></i>'+
			                   '</button>'+
			               '</td>'+
				        '</tr>';
				     table+=html;   
	    			 }
	    			 $('#cate-table tbody').html(table);
	    			 $('button.btn.btn-primary.update-btn').on("click", function(){
			    		   val = $(this).parent().parent().find('input').val();
	    				   id = $(this).attr('cate-id');
			    		   updatecate(id, val);
			    	   });
	    		 },
	    		 error: function(){
	    			 alert("không thành công");
	    		 }
	    	 });
	     };
	     
	     function addcate(element){
	    	 var val = $(element).parent().find('input').val();
			 var cate = {
				"name" : val
			}
			 $.ajax({
				   url : '/freshfood/category/add',
				   type : 'post',
				   dataType: 'json',
				   data: JSON.stringify(cate),
			       contentType: 'application/json',
				   // beforeSend: function(xhr){
			       //      xhr.setRequestHeader(name, token);
		           // },
		           success: function(json){
					   swal({
						   title: "Thành công !",
						   text: "Thêm danh mục thành công",
						   icon: "success",
						   buttons: true,
						   dangerMode: true,
					   })
					   loadcategory();
				   },
		           error: function(){
			           alert("không thành công !");
		           }
			   });
	     };
	     
	     function deletecate(id){
			 swal({
				 title: "Xóa danh mục",
				 text: "Bạn có chắc chắn muốn xóa danh mục ?",
				 icon: "warning",
				 buttons: true,
				 dangerMode: true,
			 }).then((order) => {
				 if (order) {
					 // Đặt hàng
					 $.ajax({
						 url : '/freshfood/category/xoa/'+id,
						 type : 'delete',
						 dataType: 'json',
						 // beforeSend: function(xhr){
						 //      xhr.setRequestHeader(name, token);
						 // },
						 success: function(json){
							 loadcategory();
						 },
						 error: function(){
							 alert("không thành công !");
						 }
					 });
				 } else {
					 swal("Bạn chưa xóa mặt hàng!");
				 }
			 });
	     };
	     
	     function updatecate(id, val){
			 var cate = {
			    "id": id,
				"name" : val
			 }
	    	 $.ajax({
	    		 url: '/freshfood/category/update',
	    		 type: 'put',
	    		 dataType: 'json',
	    		 data : JSON.stringify(cate),
	    		 contentType: 'application/json',
	    		 // beforeSend: function(xhr){
	    			//   xhr.setRequestHeader(name,token);
	    		 // },
	    		 success: function(json){
	    			 alert("Cập nhật danh mục có id: "+json+" thành công");
	    			 loadcategory();
	    		 },
	    		 error: function(){
	    			alert("Không cập nhật thành công !");
	    		 }
	    	 });
	     };
	</script>
</body>
</html>