<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link type="text/css" rel="stylesheet" th:href="@{/font/fontawesome/css/all.css}"/>
   <link type="text/css" rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
   <link type="text/css" rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
   <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
   <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
   <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}"/>
   <link type="text/css" rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <link th:href="@{/css/typing.css}" rel="stylesheet" />
    <link th:href="@{/css/chat.css}" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <title>Trang chủ</title>
</head>
<body class="account-register">
   <header th:replace="fragment::header"></header>
   
   <section class="bread_crumb py-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li>
                            <a th:href="@{/freshfood/trang-chu}"><span ><i class="fa fa-home"></i> Trang chủ</span></a>
                            <span><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a th:href="@{/freshfood/profile}"> <strong>[[${user.email}]]</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
   </section>      
   
    <section>
        <section class="page mb-4">
            <div class="policy d-flex justify-content-around" id="header-service-0" style="background-image: none;">
                <div class="item-policy d-flex align-items-center">
                    <a href="javascript:void(0)">
                        <img th:src="@{/image/services/policy1-0x0.png}" alt="Miễn phí vận chuyển" class="fa" />
                    </a>
                    <div class="info">
                        <a href="javascript:void(0)"> Miễn phí vận chuyển</a>
                        <p>
                            <p>B&aacute;n k&iacute;nh 100 km</p>
                        </p>
                    </div>
                </div>
                <div class="item-policy d-flex align-items-center">
                    <a href="javascript:void(0)">
                        <img th:src="@{/image/services/policy2-0x0.png}" alt="Hỗ trợ 24/7" class="fa" />
                    </a>
                    <div class="info">
                        <a href="javascript:void(0)">Hỗ trợ 24/7</a>
                        <p>
                            <p>Hotline:&nbsp;<a href="callto:19001009">0123456789</a></p>
                        </p>
                    </div>
                </div>
                <div class="item-policy d-flex align-items-center">
                    <a href="javascript:void(0)">
                        <img th:src="@{/image/services/policy3-0x0.png}" alt="Giờ làm việc" class="fa" />
                    </a>
                    <div class="info">
                        <a href="javascript:void(0)"> Giờ làm việc</a>
                        <p>
                            <p>T2 - T7 Giờ h&agrave;nh ch&iacute;nh</p>
                        </p>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('.header .header-content .header-service').append($('#header-service-0'));
            </script>
            <div class="container">
                <div class="row">
                    <div class="clearfix"></div>
                    <div id="content" class="col-sm-12 col-xs-12 col-md-12">
                        <h1>Thay đổi thông tin tài khoản</h1>
                        <form method="POST" id="change-form" enctype="multipart/form-data" class="form-horizontal">
                            <input type="hidden" th:value="${user.id}" id="input-id">
                            <fieldset id="account">
                                <legend>Chi tiết tài khoản</legend>
                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right"  for="input-firstname">Họ</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input th:value="${user.firstName}" type="text" name="firstname" placeholder="Họ" id="input-firstname" class="form-control" />
                                    </div>
                                </div>

                                 <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right"  for="input-middlename">Tên đệm</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input th:value="${user.middleName}" type="text" name="middlename" placeholder="Tên dệm" id="input-middlename" class="form-control" />
                                    </div>
                                 </div>

                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right"  for="input-lastname">Tên</label>
                                     <div class="col-sm-12 col-md-10">
                                         <input th:value="${user.lastName}" type="text" name="lastname" placeholder="Tên" id="input-lastname" class="form-control" />
                                     </div>
                                </div>
                                                      
                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right" for="input-email">Email</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input th:value="${user.email}" type="email" name="email" placeholder="Email" id="input-email" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right" for="input-phone">Điện thoại</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input th:value="${user.phoneNumber}" type="tel" name="phone" placeholder="Điện thoại" id="input-phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right" for="input-fax">Số Fax</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input type="text" name="fax" placeholder="Số Fax" id="input-fax" class="form-control" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="address">
                                <legend>Địa chỉ</legend>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right"  for="input-company">Công ty</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input type="text" name="company" placeholder="Công ty" id="input-company" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right" for="input-country" >Quốc gia</label>
                                    <div class="col-sm-12 col-md-10">
                                        <select name="countryId" id="input-country" class="form-control">
                                            <option value="0"> --- Chọn --- </option>
                                            <option th:each="i:${countryList}" th:value="${i.id}" th:selected="${i.id == user.address.countryId}">[[${i.name}]]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right" for="input-city">Tỉnh / TP</label>
                                    <div class="col-sm-12 col-md-10">
                                        <select name="cityId" id="input-city" class="form-control">
                                            <option th:value="${city.id}" selected>[[${city.name}]]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required row">
                                    <label class="col-sm-12 col-md-2 control-label text-lg-right" for="input-address">Địa chỉ đầy đủ</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input th:value="${user.address.fullAddress}" type="text" name="address" placeholder="Địa chỉ đày đủ" id="input-address" class="form-control" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Mật khẩu</legend>
                                <div class="form-group required row">
                                    <a style="font-weight: bold" th:href="@{/freshfood/change-current-pass}" class="col-sm-12 col-md-2 control-label text-lg-right">Đổi mật khẩu</a>
                                    <div class="col-sm-12 col-md-10">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="button mt-4">
                                <div class="float-right">
                                    <input type="button" onclick="submitChange()" value="Cập nhật" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal add success -->
            <div class="modal fade" id="updateSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle2">Success</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="color: green; font-size: 20px" class="modal-body text-center">
                            Cập nhật thông tin thành công !
                        </div>
                        <div class="modal-footer d-flex justify-content-center align-items-center">
                            <button type="button" class="ml-4 btn btn-primary" onclick="redirect()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Failed Modal -->
            <div class="modal fade" id="updateFailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle3">Error</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="color: red; font-size: 20px" class="modal-body text-center">
                            Cập nhật thông tin không thành công !
                        </div>
                        <div class="modal-footer d-flex justify-content-center align-items-center">
                            <button type="button" class="ml-4 btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:replace="fragment::footer-nav"></section> 
    </section>
       
   <footer th:replace="fragment::footer"></footer>

   <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
   <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
   <script type="text/javascript" th:src="@{/js/all.js}"></script>
   <script type="text/javascript" th:src="@{/js/index.js}"></script>
   <script type="text/javascript" th:src="@{/js/Chat.js}"></script>
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/stomp-websocket@2.3.4-next/lib/stomp.min.js"></script>
   <script>
       $("select[name='countryId']").change(function(){
           $.ajax({
               url: '/freshfood/api/city/'+this.value,
               dataType  : 'json',
               beforeSend: function () {
                   $("select[name='countryId']").after("<i class='fa fa-circle-o-notch fa-spin'></i>");
               },
               complete: function () {
                   $(".fa-spin").remove();
               },
               success: function(json){
                   html='<option value="">---Trống---</option>';
                   $.each(json, function(index, c){
                       html += '<option value="'+c.id+'">'+c.name+'</option>';
                       // c là tên của mảng truyền trả về trong api
                   });
                   $('select[name="cityId"]').html(html);
               },
               error: function(){
                   alert("không tìm đc city !")
               }
           });
       });

       // Valid registry form
       let $valid = $("#change-form");

       $.validator.addMethod("phone", function(value, element){
           return value.length >=10 && value.length <= 11;
       }, "Số điện thoại không hợp lệ");

       $.validator.addMethod("country", function(value, element){
           return value !== "0";
       }, "Vui lòng chọn quốc gia");

       $.validator.addMethod("city", function(value, element){
           return value !== "0";
       }, "Vui lòng chọn thành phố");

       if ($valid.length){
           $valid.validate({
               rules : {
                   fullname:{
                       required: true,
                       blank: false
                   },
                   email:{
                       required: true,
                       email: true,
                       blank: false
                   },
                   phone:{
                       required: true,
                       phone: true,
                       number:true,
                       blank: false
                   },
                   address:{
                       required: true,
                       blank: false
                   },
                   countryId:{
                       country: true
                   },
                   cityId:{
                       city: true,
                   },
               },
               messages:{
                   fullname:{
                       required: 'Vui lòng nhập họ và tên',
                       lettersonly: 'Chỉ nhập kí tự chữ cái',
                       blank: 'Vui lòng nhập họ và tên'
                   },
                   email:{
                       required:'Vui lòng nhập email',
                       email: 'Email không hợp lệ',
                       blank:'Vui lòng nhập email'
                   },
                   phone:{
                       required: 'Vui lòng nhập số điện thoại',
                       number: 'Số điện thoại chỉ được chứa chữ số',
                       blank: 'Vui lòng nhập số điện thoại'
                   },
                   address:{
                       required: 'Vui lòng nhập đầy đủ địa chỉ',
                       blank: 'Vui lòng nhập đầy đủ địa chỉ'
                   },
               }
           });
       }

       function submitChange(){
           if($("#change-form").valid()){
               let data = {};
               data['id'] = $('#input-id').val();
               data['firstName'] = $('#input-firstname').val();
               data['middleName'] = $('#input-middlename').val();
               data['lastName'] = $('#input-lastname').val();
               data['email'] = $('#input-email').val();
               data['phone'] = $('#input-phone').val();
               data['countryId'] = $('#input-country').val();
               data['cityId'] = $('#input-city').val();
               data['address'] = $('#input-address').val();
               $.ajax({
                   url : '/freshfood/api/change-profile',
                   data: JSON.stringify(data),
                   method : 'PUT',
                   dataType : 'json',
                   contentType : 'application/json',
                   success: function(json){
                       if (json["success"]){
                           let successModal = $('#updateSuccessModal');
                           successModal.modal('show');
                       }
                       if (json["error"]){
                           let failModal = $('#updateFailModal');
                           failModal.modal('show');
                       }
                   },
                   error: function(){
                       $('.alert').remove();
                       $('.breadcrumb').after('<div class="mt-3 alert alert-danger"><strong>'+ json +'</strong></div>');
                       $(window).animate({scrollTop: 0}, 'slow');
                   }
               });
           }else{
               $('.alert').remove();
               $('.breadcrumb').after('<div class="mt-3 alert alert-danger"><strong>Vui lòng điền đầy đủ thông tin !</strong></div>');
               $('html, body').animate({scrollTop: 0}, 'slow');
           }
       }

       function redirect(){
           window.location = "/freshfood/trang-chu";
       }
   </script>
</body>
</html>